<div class="navbar bg-neutral text-neutral-content">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Karla PEREZ</a>
  </div>
  <div class="flex-none">
    <ul class="menu-horizontal">
      <li><a class="link link-hover" routerLink="" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
      <li><a class="link link-hover" routerLink="experience" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }">Expérience</a></li>
    </ul>
  </div>
</div>
