<div class="hero bg-neutral text-neutral-content min-h-screen">
  <div class="hero-content text-center">
    <div>
      <h1 class="text-5xl">Développeuse Full-Stack</h1>
      <h1 class="text-5xl">Java/Angular</h1>
      <p class="py-6">
        Suite à l'obtention de mon bachelor en 2020, j'ai commencé à travailler en tant que développeuse web. <br>
        Mes diverses expériences professionnelles m'ont permis de mener à bien des porjets de façon autonomone, notamment <br>
        un outil de suivi de chantier, en passant par la conception, le développement et la livraison. J'ai également <br>
        eu l'opportunité de participer au cycle de vie de divers projets au sein d'une équipe full stack tout en collaborant <br>
        avec divers corps de métiers. </p>
      <p>
        Afin de parfaire mon apprentissage et de développer mes compétences, j'ai décidé de reprendre <br>
        mes études afin de valider le Master Expert en Développement Logiciel. Dans le cadre de cette formation, je suis donc à la <br>
        recherche d'une opportunité en développement Java/Angular afin de mettre en pratique les diveres connaissances qui me seront <br>
        enseignées.
      </p>
      <button class="btn btn-circle btn-base-100 mt-20">
        <fa-icon [icon]="faAnglesDown"></fa-icon>
      </button>
    </div>
  </div>
</div>
